@use '../utils' as u;

.header {
  width: 100%;
  height: var(--header-height);
  background-color: var(--light-red);
  &__container {
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0 auto;
    max-width: u.rem(1024);
  }
  &__ctas {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  &__nav-links {
    display: flex;
  }
}
