@use '../utils' as u;

.header {
  width: 100%;
  height: var(--header-height);
  background-color: var(--light-red);
  font-family: var(--cta-font-family);
  color: var(--white-text);
  font-weight: var(--cta-fw);
  &__container {
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0 auto;
    max-width: u.rem(1024);
  }
  &__ctas {
    display: flex;
    width: 100%;
    margin-left: u.rem(50);
    justify-content: space-between;
  }
  &__nav-links {
    display: flex;
  }
}
