header.header
  .header__container
    img(src="../assets/images/logo.svg", alt="Company Logo")
    .header__ctas
      ul.header__nav-links
        - var links = {Product: ['Overview', 'Pricing', 'Marketplace','Features', 'Integrations'], Company: ['About', 'Team', 'Blog', 'Careers'], Connect: ['Contact', 'Newsletter', 'LinkedIn']}
        +nav_links_generator(links)
      .header__nav-ctas
        a(class="btn btn--login")
          | Login
        a(class="btn btn--sign-up")
          | Sign Up
