@use '../utils' as u;

@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

:root {
  // PRIMARY COLORS
  --light-red-cta-text: hsl(356, 100%, 66%);
  --very-light-red-cta-hover-bg: hsl(355, 100%, 74%);
  --very-dark-blue-headings: hsl(208, 49%, 24%);

  // NEUTRAL COLORS
  --white-text: hsl(0, 0%, 100%);
  --grayish-blue-footer-txt: hsl(240, 2%, 79%);
  --very-dark-grayish-blue-bd-copy: hsl(207, 13%, 34%);
  --very-dark-black-blue-footer-bg: hsl(240, 10%, 16%);

  // Background gradient - Intro/CTA mobile nav:
  --very-light-red: hsl(13, 100%, 72%);
  --light-red: hsl(353, 100%, 62%);

  // Background gradient - body:
  --very-dark-gray-blue: hsl(237, 17%, 21%);
  --very-dark-desaturated-blue: hsl(237, 23%, 32%);

  // FONTS
  --primary-font-family: "Overpass", sans-serif;
  --cta-font-family: "Ubuntu", sans-serif;

  // FONT-SIZES
  --h1-hero-font-size: #{u.rem(34)};
  --hero-subtitles: #{u.rem(18)};
  --h2-bd-font-size: #{u.rem(28)};
  --body-text-font-size: #{u.rem(16)};
  --footer-font-size: #{u.rem(15)};

  // FONT-WEIGHTS
  --h1-hero-fw: 600;
  --hero-subtitle-fw: 300;
  --h2-bd-fw: 600;
  --body-text-fw: 300;
  --cta-fw: 700;
  --footer-titles-fw: 500;
  --footer-text-fw: 400;

  // DIMENSIONS
  --header-height: #{u.rem(166)};

  // MEDIA QUERIES
  @include u.breakpoint(desktop) {
    // FONT-SIZES
    --h1-hero-font-size: #{u.rem(61)};
    --hero-subtitles: #{u.rem(20)};
    --body-text-font-size: #{u.rem(17)};
    --footer-font-size: #{u.rem(17)};

    // FONT-WEIGHTS
    --h1-hero-fw: 600;
    --hero-subtitle-fw: 300;
    --h2-bd-fw: 600;
    --body-text-fw: 300;
    --cta-text-fw: 700;
    --footer-titles-fw: 500;
    --footer-text-fw: 400;

    // DIMENSIONS
    --header-height: #{u.rem(138)};
  }
}
